// Import page-specific CSS files here.
@import "home";
@import "../components/_button";
@import "../components/_card";

body {
  background-color: rgb(0, 0, 0);
  color: white;
}

.list-overview {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


h3 {
  font-size: 30px;
}

.list-overview-title {
  color: #1EDD88;
}

ul.row {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}



.container {
  margin: 30px auto; width: 970px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
