

.card-img-top {
  object-fit: cover;
  object-position: 50% 25%;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: 0.9;

  a {
    color: #FFFFFF;
    text-decoration: none;
  }

  &:hover {
    box-shadow: 1px 1px 12px 6px rgba(255, 255, 255, .4);
    opacity: 1;
  }
}

#card-text {
  color: black;
  font-size: 15px;
}
